:root {
    --color-bg:#222;
    --color-main: rgb(40, 155, 229);
    --color-spec:#000000;
}

.dark {
    --color-bg:rgb(255, 255, 255);
    --color-main: rgb(52, 53, 54);
    --color-spec:#rgb(248, 248, 248)
   
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--color-bg);
    min-height: 200vh;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}


@mixin flex ($fd, $jc, $ai, $fw) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
}
// gulp deploy

