.content {
    color:aliceblue;
    padding: 40px;
    margin-top: 150vh;
    p {
        font-size: 1.2em;
    }
}

h1 {
    font-size: 3em;
    text-align: center;
    color: var(--color-main);
}

.blog {
}

.post{
    width: 90%;
    padding: 25px;
    border-radius: 25px;
    margin: 0 auto;
    background-color: var(--color-main);
    margin-bottom: 35px;
    h2 {
        margin-bottom: 15px;
        font-size: 30px;
        margin-left: 10px;
    }
    .post_text{
        font-size: 25px;
        margin-bottom: 25px;
    }
    .time {
        text-align: right;
    }
}

.icon_bar {
    @include flex (row, space-around, center, nowrap);
}

.dark_mode::before{
    font-size: 50px;
    content: "\2600";
    cursor: pointer;
    transform: rotate(0.9turn);
    color: var(--color-main);
}
svg {
    height: 45px;
    width: 45px;
    fill: var(--color-main);

}

body.dark {
    .dark_mode::before{
    content: "\263E";
    }
}



@media (max-width: $notebook) {
    .content {
        margin-top: 120vh;
        padding: 25px;
    }

.post{
    width: 100%;
    h2 {
        font-size: 25px;
    }
    .post_text{
        font-size: 20px;
    }
    .time {
        font-size: 15px;
    }
}
}

@media (max-width: $mobile) {
    .content {
        margin-top: 100vh;
        padding: 15px;
    }

    .post{
        h2 {
            font-size: 20px;
        }
        .post_text{
            font-size: 17px;
        }
        .time {
            font-size: 12px;
        }
    }
}